# {{ ansible_managed }}

auto {{ device1 }}
iface {{ device1 }} inet manual
  mtu {{ device1_mtu }}

auto {{ device1 }}{% if host_mgt_vlan_tagged|bool %}.{{ host_mgt_vlan_id }}{% endif %}

iface {{ device1 }}{% if host_mgt_vlan_tagged|bool %}.{{ host_mgt_vlan_id }}{% endif %} inet static
  address {{ host_ip }}
  description management interface
  broadcast {{ host_mgt_broadcast }}
  gateway {{ host_mgt_gateway }}
  netmask {{ host_mgt_netmask }}
  network {{ host_mgt_network_prefix }}
  dns-nameservers {{ dns_servers }}
  dns-search {{ dns_search }}
  {% if host_mgt_vlan_tagged|bool %}vlan_id {{ host_mgt_vlan_id }}{% endif %}

  {% if host_mgt_vlan_tagged|bool %}vlan-raw-device {{ device1 }}{% endif %}

auto {{ device1 }}.{{ container_mgt_vlan_id }}
iface {{ device1 }}.{{ container_mgt_vlan_id }} inet manual
  vlan-raw-device {{ device1 }}

auto {{ device1 }}.{{ storage_vlan_id }}
iface {{ device1 }}.{{ storage_vlan_id }} inet manual
  vlan-raw-device {{ device1 }}

auto {{ device2 }}
iface {{ device2 }} inet manual
  up ip link set dev $IFACE up
  down ip link set dev $IFACE down
  mtu {{ device2_mtu }}

auto {{ device2 }}.{{ tunnel_vlan_id }}
iface {{ device2 }}.{{ tunnel_vlan_id }} inet manual
  vlan-raw-device {{ device2 }}
